body {
	margin: 0;
	font-family: Roboto,Tahoma, -apple-system, BlinkMacSystemFont,"Open Sans",Helvetica,Arial,sans-serif !important;
	font-size: 14px;
	line-height: 1.5;
	background-color: #cfd8dc;
	/* to disable top-pull-scroll */
	overscroll-behavior: contain;
}
h1,h2,h3,h4,h5,h6{
	font-family:Titr,Roboto,Tahoma,"Open Sans",Helvetica,Arial,sans-serif !important;
}

*::-webkit-scrollbar{
	width:11px;
	height:11px;
}
*::-webkit-scrollbar-button{
	width:0;
	height:0;
	display:none;
}
*::-webkit-scrollbar-thumb:active{
	background-color:rgba(0,0,0,.5);
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);
}
*::-webkit-scrollbar-thumb:hover{
	background-color:rgba(0,0,0,.4);
	-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);
}
*::-webkit-scrollbar-thumb{
	background-color:rgba(0,0,0,.2);
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
*::-webkit-scrollbar-track:vertical{
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
}
*::-webkit-scrollbar-track:vertical:hover{
	background-color:rgba(0,0,0,.035);
}

.hidden {
	display: none;
}
.text-center {
	text-align: center;
}
.responsive-image {
	width: 100%;
	height: auto;
}
.blue-font {
    color: #03a9f4 !important;
}
.blue {
	background-color: #03a9f4 !important;
	color: #fff !important;
}
.red-font {
    color: #f44336 !important;
}
.red {
	background-color: #f44336 !important;
}
.orange-font {
    color: #ff5722 !important;
}
.orange {
	background-color: #ff5722 !important;
}
.green-font {
    color: #cddc39 !important;
}
.green {
	background-color: #cddc39 !important;
	color: #000 !important;
}
.card-content {
	padding: 16px;
}
.padding-top-80 {
	padding-top: 80px;
}


